attr==0.3.2
brotli==1.2.0
brotlicffi==1.2.0.0
chardet==5.2.0
colorama==0.4.6
ConfigParser==7.2.0
cryptography==46.0.5
docutils==0.22.4
filelock==3.25.2
gitdb_speedups==0.1.0
h2==4.3.0
HTMLParser==0.0.2
importlib_metadata==8.7.1
importlib_resources==6.5.2
ipython==9.11.0
ipywidgets==8.1.8
jnius==1.1.0
js==1.0
keyring==25.7.0
matplotlib==3.10.8
numpy==2.4.3
pandas==3.0.1
Pillow==12.1.1
protobuf==7.34.1
pyodide==0.0.2
pyOpenSSL==26.0.0
pytest==8.4.2
redis==7.4.0
ruamel.base==1.0.0
simplejson==3.20.2
slack_sdk==3.41.0
Sphinx==9.1.0
tensorflow==2.21.0
thread==2.0.6
typing_extensions==4.15.0
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
bsdiff4==1.2.6
GitPython==3.1.46
polib==1.2.0
pycdlib==1.14.0
tqdm==4.67.3
